
# Virtual environments
venv/

# Database 
db.sqlite3
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Django stuff
*.log
staticfiles/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
