# Ignore folders
cloudflare/
Important/

# Virtual environments
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Django stuff
*.log
staticfiles/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
