<!DOCTYPE html>
<html>
<head>
    <title>Live WebSocket</title>
</head>
<body>
    <h2>Live Input → Instant Message</h2>

    <form action="" id="sendMsg">
        <input type="text" name="msg" id="msg" >
        <input type="submit" >
    </form>
    
    <ul id="list"></ul>
    <script>
        const socket = new WebSocket("ws://localhost:8000/ws/live/");
        const sendMsg = document.getElementById("sendMsg")

        socket.onopen = ()=>{
            console.log("✅ WebSocket opened");
        }

       

        socket.onmessage = (e) =>{
            const data = JSON.parse(e.data)

            const li = document.createElement("li")
            li.innerText = data.message
            document.getElementById("list").appendChild(li);
        };
        
        socket.onerror = (e) => {
            console.error("❌ WebSocket error", e);
        };
        socket.onclose = (e) => {
            console.error("Connection closed")
        }


        sendMsg.addEventListener("submit",function(event){
            event.preventDefault();
            const msg = document.getElementById("msg")
             const message = msg.value.trim();

             if (message && socket.readyState === WebSocket.OPEN) {
                socket.send(JSON.stringify({message:message}))
                msg.value = ""
             }else{
                  console.error("Socket is not open");
             } 

            

        })

        
    </script>
</body>
</html>
