<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <style>
        .product-card {
            border: 1px solid #ddd;
            padding: 12px;
            margin-bottom: 10px;
            width: 300px;
        }
        .stock {
            font-weight: bold;
            color: green;
        }
        .out-of-stock {
            color: red;
            font-weight: bold;
        }
        button:disabled {
            background-color: #ccc;
        }
    </style>
</head>
<body>

<h2>Product List</h2>

{% for product in products %}
  <div class="product-card">
    <h3>{{ product.name }}</h3>

    <p>
        Stock:
        <span class="stock" id="stock-{{ product.id }}">
            {{ product.stock }}
        </span>
    </p>


    <button id="buy-button-{{ product.id }}" onclick="orderProduct({{ product.id }})" {% if product.stock <= 0 %}disabled{% endif %}>
        Buy 1
    </button>

    <br><br>

    <a href="{% url 'product_detail' product.id %}">
        View Details
    </a>
  </div>
{% endfor %}

<script>
/* ----------------- ORDER API CALL ----------------- */

function orderProduct(product_id){
    const stockEl = document.getElementById(`stock-${product_id}`)
    const stock = parseInt(stockEl.innerText,10)

    fetch("/order/create/",{
        method:"POST",
        headers:{
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}"
        },
        body: JSON.stringify({
            product_id:product_id,
            quantity:1
        })
    }).then(res => res.json())
    .then(data=>{
        if(data.status === "Order created"){
            console.log("Order placed successfully")
        }else{
            console.log("Order failed")
        }
    }).catch(error=>{
         console.error('Error:', error);
    })
}

const socket = new WebSocket("ws://localhost:8000/ws/stock/")

socket.onopen= ()=>{
console.log("Connected")
}

socket.onmessage = (event) =>{
  const data = JSON.parse(event.data)

const stockEl = document.getElementById(`stock-${data.product_id}`);
  stockEl.innerText = data.stock
}

</script>

</body>
</html>
